$black: #212121;
$dark-teal: #00796b;
$light-teal: #2fb1a4;
$primary: #03a9f4;
$light: rgb(245, 245, 245);
$light-grey: rgb(212, 212, 212);
$yellow: rgb(235, 235, 83);
$red: rgb(255, 82, 82);
$green: rgb(72, 204, 123);
